<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Album Covers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="spotify-attribution">
        <img src="{{ url_for('static', filename='spotify-logo.png') }}" alt="Spotify Logo" width =220 height=70 class="spotify-logo">
    </div>

    <div class="container">
        <a href="https://open.spotify.com/collection/albums" target="_blank" class="spotify-link">
            View your saved albums on Spotify
        </a>
        <h1>Your Album Covers</h1>
        <ul class="file-list">
            {% for file in files %}
            <li>
                <span>{{ file }}</span>
                <a href="{{ url_for('download_file', filename=file) }}" class="download-button">Download</a>
            </li>
            {% endfor %}
        </ul>
        <div>
            <form action="/download_all" method="GET">
                <input type="submit" value="Download All">
            </form>
            <br> </br>
            <form action="/disconnect" method="GET">
                <input type="submit" value="Disconnect">
            </form>
        <div>

        <footer>
            <p><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></p>
        </footer>

    </div>


</body>
</html>