<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Images</title>
</head>
<body>
    <div class="container">
        <h1>Album cover downloader</h1>
        <p> 
            All the album covers you want to download need to be in your saved library on spotify. 
            If they aren't already there do this before continuing!!!
        </p>
        <form action="/login" method="GET">
            <input type="submit" value="DONE">
        </form>
    </div>
</body>
</html>
